


/* Cart */
#cartItems { 
    position: absolute;
    top:600%;
    left:35%;
    width: 65%;
    background-color: beige;
    z-index: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 20%;
    list-style: none;
    flex-direction: column;
}


.cartRemove { 
    display: none;
    visibility: hidden;
}




#mainCartContainer { 
    display: flex;
    position: absolute;
    top:590%;
    left: 35%;
    width: 65%;
    height: 15%;
    background-color: white;
    justify-content: center;
    text-align: center;
}


.purchaseBtn { 
    position: absolute;
    top:60%;
    z-index: 9999999;
    background-color: coral;
    width: 65%;
    height: 2em;
    display: flex;
    text-align: center;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 6mm;
    z-index: -999999999;
}
.purchaseBtn:active { 
    background-color: beige;
}


#cartHead { 
    font-size: 12mm;
    position: absolute;
    top:0%;
    color: blue;
    z-index: 998;
    display: flex;
    justify-content: center;
    text-align: center;
}


/* TODO:  The Text that appends to the cart isnt flexing correctly and is instead going ontop of eachother instead of next to each other.
*/

#cartRows {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color:  transparent;
    z-index: -1;
    padding: 10px; 
}

/* Set cart Button to invis */
#cartRows .cartBtn {
    display: none;
}

/* Set the Remove item button visible */
#cartRows .cartRemove { 
    display: flex;
    visibility: visible;
}

#cartRows div { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: center;
}
#cartRows img, #cartRows button, #cartRows p { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    text-align: center;
    width: 4em;
    height: 4.5em;
    font-size: 7mm;
    color: black;
    margin: 20px; 
    
}
#cartRows img { 
    gap: 2em;
}
#cartRows button { 
    width: 4em;
    height: 2em;
    background-color: red;
    color: white;
    margin-top: 1.3em;
    z-index: 999;
}


#cartRows .price { 
    display: flex;
}
#cartRows .itemName { 
    display: flex;
}