
/* Navigation */

ul { 
    position: fixed;
    top:0%;
    left:0%;
    background-color: coral;
    width: 100%;
    height: 11%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 8mm;
     list-style: none;
     z-index: 999;
     color: beige;
     box-shadow: 5px 5px 10px 0px black
}
#cartLogo { 
    position: fixed;
    right: 1%;
    font-size: 7mm;
    display: flex;
    top: 4%;
    text-align: center;
    align-items: center;
    color: white;
}
#cartLogo:hover { 
    color: cornflowerblue;
}
#settingsLogo { 
    position: fixed;
    right: 4%;
    top:4%;
    font-size: 7mm;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}
#settingsLogo:hover { 
    color: cornflowerblue;
}
a { 
display: flex;
text-align: center;
margin-left: 60px;
text-decoration: none;
color: beige;
}
a:hover { 
    color: cornflowerblue;
}

#navText { 
    position: fixed;
    display: flex;
    left: 5%;
    top: -0.5;
    font-size: 7mm;
    text-align: center;
    align-items: center;
}
#navLogo { 
    font-size: 7mm;
    display: flex;
    position: fixed;
    left:1%;
    align-items: center;
    text-align: center;
}
#searchBar { 
    position: fixed;
    display: flex;
    align-items: center;
    position: fixed;
    right: 14.2%;
    height: 2em;
    width: 11em;
    background-color: transparent;
    border-style: solid;
    border-width: thin;
    border-radius: 15px;
    color: white;
}
#searchBar::placeholder { 
    color: white;
}

#searchForm { 
    display: flex;
    align-items: center;
    text-align: center;
}
#searchButton { 
    position: fixed;
    display: flex;
    align-items: center;
    right: 12%;
    font-size: 7mm;
    background-color: transparent;
    color: white;
}
#searchButton:hover { 
    color: cornflowerblue;
}
#pfp { 
    position: fixed;
    right: 8%;
    top:4%;
    font-size: 7mm;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}
#pfp:hover { 
    color: cornflowerblue;
}