/* General Styles */

* { 
    margin: 0;
    padding: 0;
    border-style: none;
    font-family: 'Teko', sans-serif;
}
html { 
    scroll-behavior: smooth;
}
body { 
    background-color: white;
}
header { 
    display: flex;
    text-align: center;
}
#scrollToBottom { 
    position: fixed;
    top:20%;
    left:0%;
    z-index: 9999999999;
    width: 35%;
    height: 10%;
}
#scrollToTop { 
    position: fixed;
    top:10%;
    left:0%;
    z-index: 9999999998;
    width: 35%;
    height: 10%;
}
#refresh { 
    position: fixed;
    top:30%;
    left:0%;
    z-index: 9999999997;
    width: 35%;
    height: 10%;
}


/* Give the Containers Good Shadows */
.filler { 
    box-shadow: 5px 5px 10px 0px black
}

/* TODO: Make This Pop on the page a bit better as it is difficult to read at the moment */

#mainHeader { 
    position: absolute;
    left:45%;
    font-size: 25mm;
    top:10%;
    color: beige;  
    text-shadow: 1px 2px black; 
}
#mainHeaderBG { 
    position: absolute;
    left:35%;
    top:11%;
    width: 65%;
    height: 15%;
    background-color: transparent;
    z-index: -999;
    
}

#centerDivFullHeight { 
    position: absolute;
    top:0%;
    left:35%;
    height: 400%;
    width: 65%;
    background-color: transparent;
    z-index: -999;
    display: flex;
    text-align: center;
}




/*  Add Cool glow behind the images to make them pop better */

img,button { 
    box-shadow: 5px 5px 10px 0px black
}
#searchButton { 
    box-shadow: 0px 0px 0px 0px;
}









