/* General Styles */

* { 
    margin: 0;
    padding: 0;
    border-style: none;
}
html { 
    scroll-behavior: smooth;
}
body { 
    background-color: white;
}
header { 
    display: flex;
    text-align: center;
}

#centerDivFullHeight { 
    position: absolute;
    top:0%;
    left:35%;
    height: 400%;
    width: 65%;
    background-color: transparent;
    z-index: -999;
    display: flex;
    text-align: center;
}
